.footer{
	background:url(../images/footer.png) no-repeat 50% 50%;
	background-size: cover;
	color: #fff;
	padding: 63px 0 80px;
	min-height: 409px;
	width: 100%;
	&:after,&:before{
		display: table;
		clear: both;
		content: '';
	}
	@include media-breakpoint-down(md) {
		min-height: auto;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.logo{
		a{display: block;}
		span{
			font:20px/22px 'Lato', sans-serif;
			color: #fff;
		}
		img{
			margin: 0 0 0 58px;
		}
		@include media-breakpoint-down(md){
			text-align: center;
			img{
				margin: 0 auto;
			}
		}
	}
	.copy{
		font-size: 20px;
		line-height: 29px;
		padding-top: 4px;
		display: block;
		@include media-breakpoint-down(md){
			text-align: center;
		}
		@include media-breakpoint-down(sm) {
				font-size: 16px;
				line-height: 18px;
			}
	}
}
.soc{
	margin: 0 0 0 0;
	padding: 0 0 22px 0;
	list-style: none;
	font-size: 0;
	@include media-breakpoint-down(md) {
		padding-top: 15px;
	}
	li{
		display: inline-block;
		vertical-align: middle;
		padding-right: 20px;
		&:last-child{
			padding-right: 0;
		}
	}
	a{
		color: #fff;
		font-size: 33px;
		&:hover{
			color:#ffcd26;
		}
	}
}
.go_top{
	display: inline-block;
	@include media-breakpoint-down(md){
		img{
			max-width: 50px;
			display: block;
		}
	}
}
@include media-breakpoint-up(lg) {
	.col_soc{
		max-width: 230px;
		min-width: 230px;
	}
	.col_logo{
		max-width: 290px;
		min-width: 290px;
	}
}
.col_menu{
	ul{
		margin: 0;
		padding: 0 15px 15px;
		list-style: none;
		li{
			padding-bottom: 4px;
		}
		a{
			color: #fff;
			font-size: 20px;
			line-height: 22px;
			@include media-breakpoint-down(sm) {
				font-size: 16px;
				line-height: 18px;
			}
		}
	}
	@include media-breakpoint-down(md) {
		display: block;
		li{
			display: inline-block;
			vertical-align: middle;
			padding: 0 5px;
		}
	}
}
.contact_block{
	margin-bottom: 50px;
	margin-top: -150px;
	@include media-breakpoint-down(lg) {
		margin-top: 0;
	}
	form{
		margin-top: 24px;
	}
	.contact_info{
		padding-top: 25px;
	}
	.bg-light_orange{
		position: relative;
		padding-top: 67px;
		padding-bottom: 60px;
		&:before{
			content: '';
			width: 9999px;
			height: 100%;
			position: absolute;
			top: 0;
			right: 100%;
			background: inherit;
			@include media-breakpoint-down(lg) {
				right: -50%;
			}
		}
	}
	h3{
		margin: 0;
		font:35px/40px 'Akrobat_black';
		color: #342f2d;
	}
	ul{
		margin: 0;
		padding: 45px 0 0 0;
		list-style: none;
		font-size: 20px;
		line-height: 22px;
		color: #383331;
		font-weight: 700;
		li{
			padding-bottom: 27px;
		}
		.fa{
			color: #fff;
			font-size: 22px;
		}
		a{
			color: #383331;
			&:hover{
				text-decoration: none;
			}
		}
	}
	label{
		font-size: 20px;
		font-weight: 700;
		color: #383331;
	}
	@include media-breakpoint-down(lg) {
		ul,label{
			font-size: 17px;
			line-height: 19px;
		}
	}
	@include media-breakpoint-down(md) {
		h3{
			font-size: 25px;
			line-height: 27px;
		}
		.bg-light_orange{
			padding-top: 30px;
			padding-bottom: 20px;
			.btn{
				font-size: 16px;
			}
		}
	}
}
.home_page{
	.footer{
		padding-top: 0;
	}
}
.btn_w_b{
	border-color: #fff;
	font-size: 18px;
	font-weight: 700;
	color: #342f2d;
	padding: 13px 12px;
	&:hover{
		background: #fff;
		color: #342f2d !important;
	}
}