.footer{
	background: #1d1d1b;
	color: #fff;
	// padding: 63px 0 80px;
	// min-height: 409px;
	padding: 28px 0 0 0;
	width: 100%;
	&:after,&:before{
		display: table;
		clear: both;
		content: '';
	}
	@include media-breakpoint-down(md) {
		min-height: auto;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.c_i{
		display: block;
		font-size: 19px;
		line-height: 20px;
		 font-family: 'Lato';
		 font-weight: normal;
		 padding-bottom: 12px;
		 text-align: left !important;
		i{
			margin-right: 30px;
		}
		a{
			color: #fff;

		}
	}
	.logo{
		margin-top: 12px;
		a{display: table;margin-left: 18px;}
		span{
			font:20px/22px 'Lato', sans-serif;
			color: #fff;
		}
		img{
			// margin: 0 0 0 58px;
			margin: 0;
		}
		@include media-breakpoint-down(md){
			text-align: center;
			img{
				margin: 0 auto;
			}
		}
	}
	h3{
		margin: 0;
		font-size: 23px;
		line-height: 24px;
		padding-top: 18px;
		padding-bottom: 21px;
		font-weight: 500;
		color: #ffc400;
		letter-spacing: 4px;
		word-spacing: 2px;
		text-transform: uppercase;
	}
	.borders{
		border-left: 2px solid #e4b003;
		border-right: 2px solid #e4b003;
	}
	.pl_15{
		padding-left: 15px;
	}
	.pr_15{
		padding-right: 15px;
	}
	@include media-breakpoint-down(lg) {
		.col_logo,.col_up{
			max-width: none;
			min-width: auto;
		}
		.pl_15{
			padding-left: 10px;
		}
		.pr_15{
			padding-right: 10px;
		}
		h3{
			letter-spacing: normal;
		}
	}
	@include media-breakpoint-down(md) {
		padding-bottom: 0;
		position: relative;
		.col_logo{
			flex: 0 0 100%;
			max-width: 100%;
			.logo{
				margin-left: auto;
				margin-right: auto;
				display: table;
				padding-bottom: 10px;
				a{
					margin-left: 0;
				}
			}
			.soc{
				text-align: center;
			}
		}
		.col_up{
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 50;
			display: block;
			.go_top{margin: 0;width: 30px;height: 30px;display: block;}
			img{
				width: 100%;
				display: block;
				height: auto;
			}
		}
		.pl_15,.pr_15{
			padding: 0;
		}
		.col_menu{
			flex: 0 0 66.666667%;
			max-width: 66.666667%;
		}
		.col_soc {
			flex: 0 0 33.333333%;
			max-width: 33.333333%;
		}
		.c_i_holder{
			i{
				margin-right: 10px;
			}
			.c_i{
				font-size: 14px !important;
			}
		}
	}
	@include media-breakpoint-down(sm) {
		.col_menu,.col_soc,.col_menu .col-auto{
			flex: 0 0 100%;
			max-width: 100%;
			text-align: center;
		}
		.borders{
			border: 0;
		}
		.c_i_holder{
			display: table;
			margin: 0 auto;
		}
	}
}
.col_soc{
	.btn{
		margin-top: 18px;
		font-size: 14px;
		font-weight: normal;
		display: block;
	}
}
.soc{
	margin: 0;
	padding: 12px 0 22px 0;
	list-style: none;
	font-size: 0;
	@include media-breakpoint-down(md) {
		padding-top: 15px;
	}
	li{
		display: inline-block;
		vertical-align: middle;
		padding-right: 10px;
		font-size: 17px;
		&:last-child{
			padding-right: 0;
		}
	}
	a{
		color: #fff;
		&:hover{
			color:#ffcd26;
		}
	}
}
.go_top{
	display: inline-block;
	margin-top: 26px;
	@include media-breakpoint-down(md){
		img{
			max-width: 50px;
			display: block;
		}
	}
}
@include media-breakpoint-up(lg) {
	// .col_soc{
	// 	max-width: 230px;
	// 	min-width: 230px;
	// }
	.col_logo{
		max-width: 160px;
		min-width: 160px;
	}
	.col_up{
		max-width: 150px;
		min-width: 150px;
	}
}
.col_menu{
	ul{
		margin: 0;
		padding: 0 15px 15px;
		padding: 0;
		list-style: none;
		li{
			font-size: 14px;
			line-height: 15px;
			text-transform: uppercase;
			 font-family: 'Lato';
			font-weight: 100;
			padding-bottom: 8px;
		}
		a{
			color: #dbdbd8;
			transition: all 0.3s ease;
			&:hover{
				text-decoration: none;
				color: #ffc400;
			}
		}
	}
	// @include media-breakpoint-down(md) {
	// 	display: block;
	// 	li{
	// 		display: inline-block;
	// 		vertical-align: middle;
	// 		padding: 0 5px;
	// 	}
	// }
}
.contact_block{
	margin-bottom: 50px;
	margin-top: -150px;
	@include media-breakpoint-down(lg) {
		margin-top: 0;
	}
	form{
		margin-top: 24px;
	}
	.contact_info{
		padding-top: 25px;
	}
	.bg-light_orange{
		position: relative;
		padding-top: 67px;
		padding-bottom: 60px;
		&:before{
			content: '';
			width: 9999px;
			height: 100%;
			position: absolute;
			top: 0;
			right: 100%;
			background: inherit;
			@include media-breakpoint-down(lg) {
				right: -50%;
			}
		}
	}
	h3{
		margin: 0;
		font:35px/40px 'Akrobat';
		color: #342f2d;
	}
	ul{
		margin: 0;
		padding: 45px 0 0 0;
		list-style: none;
		font-size: 20px;
		line-height: 22px;
		color: #383331;
		font-weight: 700;
		li{
			padding-bottom: 27px;
		}
		.fa{
			color: #fff;
			font-size: 22px;
		}
		a{
			color: #383331;
			&:hover{
				text-decoration: none;

			}
		}
	}
	label{
		font-size: 15px;
		font-weight: 700;
		color: #383331;
	}
	@include media-breakpoint-down(lg) {
		ul,label{
			font-size: 17px;
			line-height: 19px;
		}
	}
	@include media-breakpoint-down(md) {
		h3{
			font-size: 25px;
			line-height: 27px;
		}
		.bg-light_orange{
			padding-top: 30px;
			padding-bottom: 20px;
			.btn{
				font-size: 16px;
			}
		}
	}
}

.btn_small{
	font-size: 12px !important;
}
.btn_w_b{
	border-color: #fff;
	font-size: 18px;
	font-weight: 700;
	color: #342f2d;
	padding: 13px 12px;
	&:hover{
		background: #fff;
		color: #342f2d !important;
	}
}
.copyright_block{
	background: #353131;
	margin-top: 28px;
	span{
		font-size: 10px;
		line-height: 31px;
		 font-family: 'Lato';
		color: #dbd8d8;
		font-weight: 100;
		display: block;
		padding-left: 175px;
		@include media-breakpoint-down(lg){
			padding-left: 0;
		}
	}
}
.btn-outline-white{
	font-size: 13px;
	font-weight: 100;
	color: #feffff;
	border: 2px solid #fff;
	padding: 11px 12px;
	&:hover{
		background: #ffc400;
		border-color: #ffc400;
		color: #000;
	}
	&:focus,&:active{
		box-shadow: none;
	}
}
// .row_80{
// 	margin: 0 -40px;
// 	[class *= "col-"]{
// 		padding-left: 40px;
// 		padding-right: 40px;
// 	}
// }