.header{
	background: rgba(#fff,.2);
	padding:0;
	position: relative;
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	> .container{
		position: relative;
		height: 89px;
		@include media-breakpoint-down(xs){
			height: 50px;
		}
	}  
	.btn-outline-light_orange{
		padding: 15px 10px;
	}
	.logo {
		position: absolute;
		top: 0;
		left: 50%;
		z-index: 201;
		transform:translateX(-50%);
		&:after,&:before{
			content: '';
			width: 9999px;
			bottom: 18px;
			height: 1px;
			left: 100%;
			background: #ffc400;
			position: absolute;
		}
		&:before{
			left: auto;
			right: 100%;
		}
		a{
			display: block;
			font-size: 0;
			text-indent: -9999px;
			overflow: hidden;
			outline: none;
			width: 110px;
			height: 108px;
			background:url(../images/logo.png) 0 -108px;
		}
	}
	@include media-breakpoint-down(xs) {
		padding-top: 0;
		.logo{display: none;}
		border-bottom: 1px solid #ffc400;
		> .container{
			// padding-bottom: 4px;
		}
		.btn-outline-light_orange{
			padding: 5px;
			font-size: 14px;
		}
		.etc{
			margin-top: 10px;
			> span{
				display: none;
			}
		}
		.btn_menu{
			margin-top: 3px;
		}
	}
}
.btn_menu{
	font-size: 28px;
	margin-top: 25px;
	i{
		cursor: pointer;
		&:hover{
			color: #ffc400;
		}
	}
	&.active{
		i{
			color: #ffc400;
		}
	}
	@include media-breakpoint-down(xs){
		margin-top: 20px;
	}
}
.logo{
	a{
		color: #000;
	}
	a:hover{
		text-decoration: none;
	}
	img{
		display: block;
		margin: 0 auto;
	}
}
.etc{
	margin-top: 19px;
	span{
		display: block;
		font-size: 14px;
		margin-bottom: 6px;
		*{vertical-align: middle;display: inline-block;}
		a{
			color: #353131;
			font-size: 19px;
			line-height: 20px;
			margin-left: 23px;
			 font-family: 'Lato';
			 font-weight: normal;
			&:hover{text-decoration: none;}
		}
	}
	@include media-breakpoint-down(md){
		span{
			a{
				font-size: 16px;
				margin-left: 10px;
			}
		}
		
	}
	
}
.drop_bar{
	position: absolute;
	z-index: 200;
	top: 100%;
	left: 0;
	margin-top: 25px;
	width: 100%;
	background: #fff;
	padding:83px 65px 63px;
	display: none;
	height: 100vh;
	max-height: calc(100vh - 114px);
	overflow-y: auto;
	overflow-x: hidden;
	> .container{position: relative;}
	@include media-breakpoint-down(xs) {
		max-height: calc(100vh - 75px);
		top: 51px;
	}
	&.active{
		display: block;
	}
	h3{
		margin: 0;
		font-size: 18px;
		line-height: 22px;
		font-weight: 500;
		padding-bottom: 20px;
		text-transform: uppercase;
		@include media-breakpoint-down(md){
			text-transform: none;
		}
	}
	@include media-breakpoint-down(md) {
		padding: 40px 15px;
	}
}
.sub_menu{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	li{
		text-align: center;
		width: 20%;
		@include media-breakpoint-up(lg) {
			width: 10%;
		}
		@include media-breakpoint-down(xs){
			width: 33.33%;
		}

		em{
			display: block;
			height: 62px;
			position: relative;
		}
		i{
			position: absolute;
			top: 50%;
			left: 50%;
			transform:translate(-50%,-50%);
		}
		span{
			display: block;
			padding-top: 14px;
			font-size: 14px;
			line-height: 18px;
			text-transform: uppercase;
			color: #000;
			// -webkit-hyphens: auto;
			// -moz-hyphens: auto;
			// -ms-hyphens: auto;
			// hyphens: auto;
		}
		&.active{
			a{
				background: #f8f8f8;
			}
		}
		a{
			display: block;
			padding: 25px 5px 30px;
			// border: 2px solid transparent;
			height: 100%;
			&:hover{
				text-decoration: none;
				background: #f8f8f8;
			}
		}
		@media screen and (max-width: 1400px) {
			span{
				font-size: 18px;
				line-height: 22px;
			}
			width: 20%;
			@media screen and (max-width: 800px) {
				width: 25%;
			}
			@media screen and (max-width: 600px) {
				width: 33.33%;
			}
			@media screen and (max-width: 400px) {
				width: 50%;
				a{
					padding: 10px 5px;
				}
				span{padding-top: 5px;}
			}
		}
	}
}
.main_menu_holder{
	width: 100%;
	overflow: hidden;
}
.main_menu{
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	border-top: 2px solid #8e8e8d;
	li{
		width: 33.33%;
		text-align: center;
		&.active{
			a{
				background: #f8f8f8;
			}
		}
		em{
			display: block;
			height: 70px;
			margin-bottom: 10px;
			position: relative;
		}
		a{
			padding:40px 20px 20px;
			display: flex;
			height: 100%;
			flex-flow:column nowrap;
			justify-content:start;
			&:hover{
				text-decoration: none;
				background: #f8f8f8;
			}
			i{
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform:translate(-50%,-50%);
			}
			span{
				font-size: 18px;
				line-height: 24px;
				font-weight: 500;
				color: #000;
				text-transform: uppercase;
				// text-transform: uppercase;
				// -webkit-hyphens: auto;
				// -moz-hyphens: auto;
				// -ms-hyphens: auto;
				// hyphens: auto;
			}
		}
	}
	@include media-breakpoint-down(md){
		li{
			height: auto;
			min-height: 100px;
			a{
				padding: 10px;
				@media screen and (max-width: 1400px) {
					padding-top: 20px;
					span{
						font-size: 25px;
						line-height: 28px;
					}
				}
				span{
					font-size: 14px;
					line-height: 16px;
					@include media-breakpoint-down(xs){
						font-size: 13px;
						line-height: 14px;
						font-weight: normal;
					}
				}
			}
			@media screen and (max-width: 600px) {
				width: 50%;
			}
		}
	}
}
// home
.header_home{
	height: 100vh;
	background:url(../images/bg_video.png) no-repeat 50% 50%;
	background-size: cover;
	position: relative;
	.cart_box{
		&:hover{
			color: #fff;
		}
	}
	.small_form{
		padding-top: 60px;
		@media screen and (max-width: 992px){
			padding-top: 30px;
			padding-bottom: 20px;
		}

	}
	.header{
		&:after{content: none;}
	}
	@media screen and (min-width: 992px) {
		min-height: 780px;
	}
	&:after{
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		background: rgba(#000,.5);
		position: absolute;
		top: 0;
		left: 0;
		z-index:4;
	}
	> *{z-index: 2;}
	.header{
		background: none;
		z-index: 10;
		.btn_menu{color: #fff;}
		.logo{
			span{color: #fff;}
		}
		.etc{
			color: #fff;
			span{
				a{color: #fff;}
			}
		}
	}
	h1{
		color: #fff;
		margin: 0;
		font-size: 50px;
		line-height: 70px;
		font-weight: 500;
	}
	.btns{
		margin-top: 70px;
		a{
			font-weight: 700;
			min-width: 260px;
			padding: 13px 38px 17px;
			margin: 5px 0;
		}
	}
	.go_next{
		position: absolute;
		bottom: 40px;
		left: 50%;
		z-index: 5;
		transform:translateX(-50%);
		background:url(../images/next.png) no-repeat;
		width: 71px;
		height: 71px;
	}
	.custom_center{
		padding-top:250px;
		padding-bottom: 90px;
		position: relative;
		z-index: 5;
		// @media screen and (min-width: 998px) and (max-width: 1200px) {
		// 	padding-top: 150px;
		// }
	}

	@include media-breakpoint-down(md) {
		height: auto;
		padding-top: 120px;
		.go_next{display: none;}
		.custom_center{
			padding: 30px 15px 15px;
		}
		h1{
			font-size: 30px;
			line-height: 34px;
		}
		@include media-breakpoint-down(xs) {
			padding-top: 80px;
		}
	}
	@include media-breakpoint-down(sm) {
		.btns{
			margin-top: 30px;
			a{
				min-width: auto;
				padding: 15px;
			}
		}
	}
	@include media-breakpoint-down(xs) {
		.btns{
			a{
				display: block;
			}
		}
	}
}
#video{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	z-index: 1;
	overflow: hidden;
	video{
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}
@media (min-aspect-ratio: 16/9) {
	#video > video { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
	#video > video { width: 300%; left: -100%; }
}
/* 2. If supporting object-fit, overriding (1): */
@supports (object-fit: cover) {
	#video > video {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
@include media-breakpoint-down(md) {
	#video{display: none;}
}
.anim_nxt{
	position: absolute;
	top: 20px;
	left: 50%;
	transform:translateX(-50%);
	width:10px;
	height:60px;
	z-index: 5;
	.anim{
		position:absolute;
		left: 0;
		background-color:rgb(0,0,0);
		width:10px;
		height:10px;
		animation-name:bounce_fountainG;
		animation-duration:1.5s;
		animation-iteration-count:infinite;
		animation-direction:normal;
		transform:scale(.3);
		border-radius:50%;
		&.anim_1{
			top: 0;
			animation-delay:0.6s;
		}
		&.anim_2{
			top: 10px;
			animation-delay:0.75s;
		}
		&.anim_3{
			top: 20px;
			animation-delay:0.9s;
		}
	}
}
@keyframes bounce_fountainG{
	0%{
		transform:scale(.8);
		background-color:rgb(255,255,255);
	}

	100%{
		transform:scale(.3);
		background-color:#6c6865;
	}
}
.close_drop{
	width: 32px;
	height: 32px;
	display: block;
	position: absolute;
	top: -33px;
	right: 0;
	cursor: pointer;
	transform:rotate(-45deg);
	&:after,&:before{
		content: '';
		top: 0;
		left: 50%;
		position: absolute;
		transform:translateX(-50%);
		width: 3px;
		height: 100%;
		background: #1d1d1b;
	}
	&:before{
		top: 50%;
		left: 0;
		width: 100%;
		height: 3px;
		transform:translateY(-50%);
	}
	@include media-breakpoint-down(md) {
		top: -33px;
		right: 0;
	}
}

.home_page{
	.cart_box{
		color: #fff;
	}
	.header .logo a{
		background-position: 0 0;
	}
}
.cart_box{
	position: absolute;
	top: 32px;
	left: 103px;
	color: #000;
	i{
		font-size: 24px;
	}
	em{
		position: relative;
		font-style: normal;
		display: inline-block;
		vertical-align: middle;
		margin-right: 6px;
		b{
			position: absolute;
			bottom: 10px;
			right: -8px;
			height: 17px;
			min-width: 17px;
			background: #ffc400;
			border-radius: 50%;
			font-weight: normal;
			font-size: 13px;
			line-height: 17px;
			font-family: 'Lato';
			text-align: center;
			color: #000;
			display: inline-block;
			padding: 1px 2px 0;
		}
	}
	strong{
		font-size: 19px;
		font-family: 'Lato';
		font-weight: normal;
	}
	&:hover{text-decoration: none; color: #353131;}
	// &:hover{
	// 	text-decoration: none;
	// 	color: #ffc400;
	// 	em{
	// 		b{
	// 			background: #000;
	// 			color: #fff;
	// 		}
	// 	}
	// }
	@include media-breakpoint-down(xs){
		position: static;
	}
}
.white_header{
	&:after{
		content: '';
		width: 100%;
		height: 25px;
		position: absolute;
		bottom:-26px;
		left: 0;
		background: #020202;
	}
}
.white_header,.scrolled{
	background: rgba(#fff,1) !important;
	 .logo a{background-position: 0 -108px !important; }
	&:after{
		content: '' !important;
	}
	.btn_menu,.cart_box,.logo span,.etc span a,.etc span i{
		color: #000 !important;
	}
	.cart_box{
		// &:hover{
		// 	color: #ffc400 !important;
		// 	b{
		// 		background:#000 !important;
		// 		color: #fff !important;
		// 	}
		// }
	}
}
.small_form{
	max-width: 260px;
	margin: 0 auto;
	width: 100%;
	.btn{
		display: block;
		width: 100%;
	}
	.form-group{
		margin-bottom: 20px;
	}
	.form-control{
		background: none;
		text-align: center;
		border: 0;
		box-shadow: none;
		font-size: 18px;
		color: #dbd8d8;
		font-weight: 500;
		padding: 4px 10px;
		border-bottom: 1px solid #ebebeb;
		&::-webkit-input-placeholder { color: #dbd8d8; opacity: 1; }
		&::-moz-placeholder { color: #dbd8d8; opacity: 1; }
		&:-ms-input-placeholder { color: #dbd8d8; opacity: 1; }
		&::-ms-input-placeholder { color: #dbd8d8; opacity: 1; }
		&::placeholder { color: #dbd8d8; opacity: 1; }
	}
	@include media-breakpoint-down(xs) {
		max-width: none;
	}
}