.header{
	background: #fff;
	padding: 32px 0 0 0;
	position: relative;
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	&:after{
		content: '';
		width: 100%;
		height: 5px;
		position: absolute;
		bottom: -5px;
		left: 0;
		z-index: 2;
		background: -webkit-linear-gradient(rgba(15,14,15,0.75) 0%, rgba(15,14,15,0.67) 25%, rgba(15,14,15,0.5) 50%, rgba(15,14,15,0.25) 75%, rgba(15,14,15,0.08) 100%);
		background: -o-linear-gradient(rgba(15,14,15,0.75) 0%, rgba(15,14,15,0.67) 25%, rgba(15,14,15,0.5) 50%, rgba(15,14,15,0.25) 75%, rgba(15,14,15,0.08) 100%);
		background: linear-gradient(rgba(15,14,15,0.75) 0%, rgba(15,14,15,0.67) 25%, rgba(15,14,15,0.5) 50%, rgba(15,14,15,0.25) 75%, rgba(15,14,15,0.08) 100%);
	}
	> .container{position: relative; padding-bottom: 28px;} 
	.btn-outline-light_orange{
		padding: 15px 10px;
	}
	.logo {
		position: absolute;
		top: 2px;
		left: 50%;
		transform:translateX(-50%);
	}
	@include media-breakpoint-down(md) {
		.btn-outline-light_orange{
			font-size: 16px;
			padding: 10px;
		}
		.logo  {
			img{
				width: 50px;
				height: auto;
			}
			span{
				font-size: 16px;
				line-height: 18px;
			}
		}
	}
	@include media-breakpoint-down(sm){
		padding-top: 0;
		.logo{
			top: 10px;
		}

	}
	@include media-breakpoint-down(xs) {
		.logo{display: none;}
		> .container{
			padding-bottom: 4px;
		}
		.btn-outline-light_orange{
			padding: 5px;
			font-size: 14px;
		}
		.etc{
			margin-top: 10px;
		}
	}
}
.btn_menu{
	font-size: 34px;
	margin-top: 36px;
	i{
		cursor: pointer;
		&:hover{
			color: #ffc400;
		}
	}
	&.active{
		i{
			color: #ffc400;
		}
	}
	@include media-breakpoint-down(xs){
		margin-top: 20px;
	}
}
.logo{
	a{
		color: #000;
	}
	a:hover{
		text-decoration: none;
	}
	img{
		display: block;
		margin: 0 auto;
	}
	span{
		font-size: 25px;
		line-height: 26px;
		display: block;
		margin-top: 6px;
		font-family: 'Akrobat_black';
	}
}
.etc{
	margin-top: 34px;
	span{
		display: block;
		font-size: 25px;
		margin-bottom: 6px;
		a{
			color: #000;
			font-size: 25px;
			line-height: 27px;
			margin-left: 10px;
			&:hover{text-decoration: none;}
		}
	}
	@include media-breakpoint-down(md){
		span{
			font-size: 20px;
			a{
				font-size: 20px;
			}
			@include media-breakpoint-down(sm) {
				font-size: 15px;
				
				a{
					font-size: 15px;
				}
			}
			@include media-breakpoint-down(xs){
				margin-bottom: 0;
			}
		}
		
	}
	
}
.drop_bar{
	position: absolute;
	z-index: 200;
	top: 100%;
	left: 0;
	width: 100%;
	background: #fff;
	padding:103px 65px 63px;
	display: none;
	//
	max-height: calc(100vh - 181px);
	overflow-y: auto;
	overflow-x: hidden;
	//
	@include media-breakpoint-down(md) {
		max-height: calc(100vh - 166px);
	}
	@include media-breakpoint-down(sm) {
		max-height: calc(100vh - 128px);

	}
	@include media-breakpoint-down(xs) {
		max-height: calc(100vh - 107px);
	}
	&.active{
		display: block;
	}
	h3{
		margin: 0;
		font-size: 30px;
		line-height: 32px;
		font-weight: 700;
		padding-bottom: 25px;
		text-transform: uppercase;
		@include media-breakpoint-down(md){
			text-transform: none;
		}
	}
	@include media-breakpoint-down(md){
		padding: 40px 15px;
	}
}
.sub_menu{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	li{
		text-align: center;
		width: 20%;
		@include media-breakpoint-up(lg) {
			width: 10%;
		}
		@include media-breakpoint-down(xs){
			width: 33.33%;
		}

		em{
			display: block;
			height: 95px;
			position: relative;
		}
		i{
			position: absolute;
			top: 50%;
			left: 50%;
			transform:translate(-50%,-50%);
		}
		span{
			display: block;
			padding-top: 14px;
			font-size: 20px;
			line-height: 30px;
			color: #000;
			-webkit-hyphens: auto;
			-moz-hyphens: auto;
			-ms-hyphens: auto;
			hyphens: auto;
		}
		&.active{
			a{
				background: #f8f8f8;
			}
		}
		a{
			display: block;
			padding: 37px 5px 35px;
			// border: 2px solid transparent;
			height: 100%;
			&:hover{
				text-decoration: none;
				background: #f8f8f8;
			}
		}
		@media screen and (max-width: 1400px) {
			span{
				font-size: 18px;
				line-height: 22px;
			}
			width: 20%;
			@media screen and (max-width: 800px) {
				width: 25%;
			}
			@media screen and (max-width: 600px) {
				width: 33.33%;
			}
			@media screen and (max-width: 400px) {
				width: 50%;
				a{
					padding: 10px 5px;
				}
				span{padding-top: 5px;}
			}
		}
	}
}
.main_menu_holder{
	width: 100%;
	overflow: hidden;
}
.main_menu{
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	border-top: 2px solid #8e8e8d;
	li{
		width: 33.33%;
		text-align: center;
		&.active{
			a{
				background: #f8f8f8;
			}
		}
		em{
			display: block;
			height: 78px;
			margin-bottom: 10px;
			position: relative;
		}
		a{
			padding:70px 20px 20px;
			display: flex;
			height: 100%;
			flex-flow:column nowrap;
			justify-content:start;
			&:hover{
				text-decoration: none;
				background: #f8f8f8;
			}
			i{
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform:translate(-50%,-50%);
			}
			span{
				font-size: 30px;
				line-height: 46px;
				font-weight: 700;
				color: #000;
				text-transform: uppercase;
				-webkit-hyphens: auto;
				-moz-hyphens: auto;
				-ms-hyphens: auto;
				hyphens: auto;
			}
		}
	}
	@include media-breakpoint-down(md){
		li{
			height: auto;
			min-height: 100px;
			a{
				padding: 10px;
				@media screen and (max-width: 1400px) {
					padding-top: 20px;
					span{
						font-size: 25px;
						line-height: 28px;
					}
				}
				span{
					font-size: 14px;
					line-height: 16px;
					@include media-breakpoint-down(xs){
						font-size: 13px;
						line-height: 14px;
						font-weight: normal;
					}
				}
			}
			@media screen and (max-width: 600px) {
				width: 50%;
			}
		}
	}
}
// home
.header_home{
	height: 100vh;
	background:url(../images/bg_video.png) no-repeat 50% 50%;
	background-size: cover;
	position: relative;
	.header{
		&:after{content: none;}
	}
	@media screen and (min-width: 998px) {
		min-height: 780px;
	}
	&:after{
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		background: rgba(#000,.5);
		position: absolute;
		top: 0;
		left: 0;
		z-index:4;
	}
	> *{z-index: 2;}
	.header{
		background: none;
		z-index: 10;
		.btn_menu{color: #fff;}
		.logo{
			span{color: #fff;}
		}
		.etc{
			color: #fff;
			span{
				a{color: #fff;}
			}
		}
	}
	h1{
		color: #fff;
		margin: 0;
		font:49px/63px 'Akrobat_black';
	}
	.btns{
		margin-top: 70px;
		a{
			font-weight: 700;
			min-width: 260px;
			padding: 13px 38px 17px;
			margin: 5px 0;
		}
	}
	.go_next{
		position: absolute;
		bottom: 40px;
		left: 50%;
		z-index: 5;
		transform:translateX(-50%);
		background:url(../images/next.png) no-repeat;
		width: 71px;
		height: 71px;
	}
	.custom_center{
		padding-top: 375px;
		padding-bottom: 90px;
		position: relative;
		z-index: 5;
		// @media screen and (min-width: 998px) and (max-width: 1200px) {
		// 	padding-top: 150px;
		// }
	}

	@include media-breakpoint-down(md) {
		height: auto;
		padding-top: 120px;
		.go_next{display: none;}
		.custom_center{
			padding: 30px 15px 15px;
		}
		h1{
			font-size: 30px;
			line-height: 34px;
		}
	}
	@include media-breakpoint-down(sm) {
		.btns{
			margin-top: 30px;
			a{
				min-width: auto;
				padding: 15px;
			}
		}
	}
	@include media-breakpoint-down(xs) {
		.btns{
			a{
				display: block;
			}
		}
	}
}
#video{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	z-index: 1;
	overflow: hidden;
	video{
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}
@media (min-aspect-ratio: 16/9) {
	#video > video { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
	#video > video { width: 300%; left: -100%; }
}
/* 2. If supporting object-fit, overriding (1): */
@supports (object-fit: cover) {
	#video > video {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
@include media-breakpoint-down(md) {
	#video{display: none;}
}
.anim_nxt{
	position: absolute;
	top: 20px;
	left: 50%;
	transform:translateX(-50%);
	width:10px;
	height:60px;
	z-index: 5;
	.anim{
		position:absolute;
		left: 0;
		background-color:rgb(0,0,0);
		width:10px;
		height:10px;
		animation-name:bounce_fountainG;
		animation-duration:1.5s;
		animation-iteration-count:infinite;
		animation-direction:normal;
		transform:scale(.3);
		border-radius:50%;
		&.anim_1{
			top: 0;
			animation-delay:0.6s;
		}
		&.anim_2{
			top: 10px;
			animation-delay:0.75s;
		}
		&.anim_3{
			top: 20px;
			animation-delay:0.9s;
		}
	}
}
@keyframes bounce_fountainG{
	0%{
		transform:scale(.8);
		background-color:rgb(255,255,255);
	}

	100%{
		transform:scale(.3);
		background-color:#6c6865;
	}
}
.close_drop{
	width: 32px;
	height: 32px;
	display: block;
	position: absolute;
	top: 45px;
	right: 45px;
	cursor: pointer;
	transform:rotate(-45deg);
	&:after,&:before{
		content: '';
		top: 0;
		left: 50%;
		position: absolute;
		transform:translateX(-50%);
		width: 3px;
		height: 100%;
		background: #1d1d1b;
	}
	&:before{
		top: 50%;
		left: 0;
		width: 100%;
		height: 3px;
		transform:translateY(-50%);
	}
	@include media-breakpoint-down(md) {
		top: 10px;
		right: 10px;
	}
}

.home_page{
	.cart_box{
		color: #fff;
		&:hover{
			em{
				b{
					background: #fff;
					color: #000;
				}
			}
		}
	}
}
.cart_box{
	position: absolute;
	top: 41px;
	left: 100px;
	color: #000;
	i{
		font-size: 33px;

	}
	em{
		position: relative;
		font-style: normal;
		display: inline-block;
		margin-right: 20px;
		b{
			position: absolute;
			bottom: 10px;
			right: -8px;
			height: 17px;
			min-width: 17px;
			background: #ffc400;
			border-radius: 50%;
			font-weight: normal;
			font-size: 13px;
			line-height: 17px;
			text-align: center;
			color: #000;
			display: inline-block;
			padding: 1px 2px 0;
		}
	}
	strong{
		font-size: 25px;
		font-weight: normal;
	}
	&:hover{
		text-decoration: none;
		color: #ffc400;
		em{
			b{
				background: #000;
				color: #fff;
			}
		}
	}
	@include media-breakpoint-down(xs){
		position: static;
	}
}
.white_header,.scrolled{
	background: rgba(#fff,1) !important;
	&:after{
		content: '' !important;
	}
	.btn_menu,.cart_box,.logo span,.etc span a,.etc span i{
		color: #000 !important;
	}
	.cart_box{
		&:hover{
			color: #ffc400 !important;
			b{
				background:#000 !important;
				color: #fff !important;
			}
		}
	}
}