// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$ico1-name: 'ico1';
$ico1-x: 222px;
$ico1-y: 0px;
$ico1-offset-x: -222px;
$ico1-offset-y: 0px;
$ico1-width: 46px;
$ico1-height: 41px;
$ico1-total-width: 337px;
$ico1-total-height: 287px;
$ico1-image: '../images/sprite.png';
$ico1: (222px, 0px, -222px, 0px, 46px, 41px, 337px, 287px, '../images/sprite.png', 'ico1', );
$ico10-name: 'ico10';
$ico10-x: 0px;
$ico10-y: 158px;
$ico10-offset-x: 0px;
$ico10-offset-y: -158px;
$ico10-width: 50px;
$ico10-height: 40px;
$ico10-total-width: 337px;
$ico10-total-height: 287px;
$ico10-image: '../images/sprite.png';
$ico10: (0px, 158px, 0px, -158px, 50px, 40px, 337px, 287px, '../images/sprite.png', 'ico10', );
$ico11-name: 'ico11';
$ico11-x: 273px;
$ico11-y: 0px;
$ico11-offset-x: -273px;
$ico11-offset-y: 0px;
$ico11-width: 36px;
$ico11-height: 43px;
$ico11-total-width: 337px;
$ico11-total-height: 287px;
$ico11-image: '../images/sprite.png';
$ico11: (273px, 0px, -273px, 0px, 36px, 43px, 337px, 287px, '../images/sprite.png', 'ico11', );
$ico12-name: 'ico12';
$ico12-x: 57px;
$ico12-y: 59px;
$ico12-offset-x: -57px;
$ico12-offset-y: -59px;
$ico12-width: 56px;
$ico12-height: 40px;
$ico12-total-width: 337px;
$ico12-total-height: 287px;
$ico12-image: '../images/sprite.png';
$ico12: (57px, 59px, -57px, -59px, 56px, 40px, 337px, 287px, '../images/sprite.png', 'ico12', );
$ico13-name: 'ico13';
$ico13-x: 0px;
$ico13-y: 122px;
$ico13-offset-x: 0px;
$ico13-offset-y: -122px;
$ico13-width: 71px;
$ico13-height: 31px;
$ico13-total-width: 337px;
$ico13-total-height: 287px;
$ico13-image: '../images/sprite.png';
$ico13: (0px, 122px, 0px, -122px, 71px, 31px, 337px, 287px, '../images/sprite.png', 'ico13', );
$ico14-name: 'ico14';
$ico14-x: 222px;
$ico14-y: 139px;
$ico14-offset-x: -222px;
$ico14-offset-y: -139px;
$ico14-width: 42px;
$ico14-height: 40px;
$ico14-total-width: 337px;
$ico14-total-height: 287px;
$ico14-image: '../images/sprite.png';
$ico14: (222px, 139px, -222px, -139px, 42px, 40px, 337px, 287px, '../images/sprite.png', 'ico14', );
$ico15-name: 'ico15';
$ico15-x: 273px;
$ico15-y: 48px;
$ico15-offset-x: -273px;
$ico15-offset-y: -48px;
$ico15-width: 35px;
$ico15-height: 40px;
$ico15-total-width: 337px;
$ico15-total-height: 287px;
$ico15-image: '../images/sprite.png';
$ico15: (273px, 48px, -273px, -48px, 35px, 40px, 337px, 287px, '../images/sprite.png', 'ico15', );
$ico16-name: 'ico16';
$ico16-x: 118px;
$ico16-y: 59px;
$ico16-offset-x: -118px;
$ico16-offset-y: -59px;
$ico16-width: 41px;
$ico16-height: 40px;
$ico16-total-width: 337px;
$ico16-total-height: 287px;
$ico16-image: '../images/sprite.png';
$ico16: (118px, 59px, -118px, -59px, 41px, 40px, 337px, 287px, '../images/sprite.png', 'ico16', );
$ico17-name: 'ico17';
$ico17-x: 314px;
$ico17-y: 93px;
$ico17-offset-x: -314px;
$ico17-offset-y: -93px;
$ico17-width: 20px;
$ico17-height: 41px;
$ico17-total-width: 337px;
$ico17-total-height: 287px;
$ico17-image: '../images/sprite.png';
$ico17: (314px, 93px, -314px, -93px, 20px, 41px, 337px, 287px, '../images/sprite.png', 'ico17', );
$ico18-name: 'ico18';
$ico18-x: 0px;
$ico18-y: 203px;
$ico18-offset-x: 0px;
$ico18-offset-y: -203px;
$ico18-width: 39px;
$ico18-height: 41px;
$ico18-total-width: 337px;
$ico18-total-height: 287px;
$ico18-image: '../images/sprite.png';
$ico18: (0px, 203px, 0px, -203px, 39px, 41px, 337px, 287px, '../images/sprite.png', 'ico18', );
$ico19-name: 'ico19';
$ico19-x: 44px;
$ico19-y: 203px;
$ico19-offset-x: -44px;
$ico19-offset-y: -203px;
$ico19-width: 73px;
$ico19-height: 19px;
$ico19-total-width: 337px;
$ico19-total-height: 287px;
$ico19-image: '../images/sprite.png';
$ico19: (44px, 203px, -44px, -203px, 73px, 19px, 337px, 287px, '../images/sprite.png', 'ico19', );
$ico2-name: 'ico2';
$ico2-x: 76px;
$ico2-y: 122px;
$ico2-offset-x: -76px;
$ico2-offset-y: -122px;
$ico2-width: 73px;
$ico2-height: 25px;
$ico2-total-width: 337px;
$ico2-total-height: 287px;
$ico2-image: '../images/sprite.png';
$ico2: (76px, 122px, -76px, -122px, 73px, 25px, 337px, 287px, '../images/sprite.png', 'ico2', );
$ico20-name: 'ico20';
$ico20-x: 273px;
$ico20-y: 93px;
$ico20-offset-x: -273px;
$ico20-offset-y: -93px;
$ico20-width: 35px;
$ico20-height: 40px;
$ico20-total-width: 337px;
$ico20-total-height: 287px;
$ico20-image: '../images/sprite.png';
$ico20: (273px, 93px, -273px, -93px, 35px, 40px, 337px, 287px, '../images/sprite.png', 'ico20', );
$ico21-name: 'ico21';
$ico21-x: 169px;
$ico21-y: 0px;
$ico21-offset-x: -169px;
$ico21-offset-y: 0px;
$ico21-width: 48px;
$ico21-height: 44px;
$ico21-total-width: 337px;
$ico21-total-height: 287px;
$ico21-image: '../images/sprite.png';
$ico21: (169px, 0px, -169px, 0px, 48px, 44px, 337px, 287px, '../images/sprite.png', 'ico21', );
$ico22-name: 'ico22';
$ico22-x: 169px;
$ico22-y: 49px;
$ico22-offset-x: -169px;
$ico22-offset-y: -49px;
$ico22-width: 47px;
$ico22-height: 44px;
$ico22-total-width: 337px;
$ico22-total-height: 287px;
$ico22-image: '../images/sprite.png';
$ico22: (169px, 49px, -169px, -49px, 47px, 44px, 337px, 287px, '../images/sprite.png', 'ico22', );
$ico23-name: 'ico23';
$ico23-x: 169px;
$ico23-y: 98px;
$ico23-offset-x: -169px;
$ico23-offset-y: -98px;
$ico23-width: 47px;
$ico23-height: 44px;
$ico23-total-width: 337px;
$ico23-total-height: 287px;
$ico23-image: '../images/sprite.png';
$ico23: (169px, 98px, -169px, -98px, 47px, 44px, 337px, 287px, '../images/sprite.png', 'ico23', );
$ico24-name: 'ico24';
$ico24-x: 89px;
$ico24-y: 0px;
$ico24-offset-x: -89px;
$ico24-offset-y: 0px;
$ico24-width: 75px;
$ico24-height: 54px;
$ico24-total-width: 337px;
$ico24-total-height: 287px;
$ico24-image: '../images/sprite.png';
$ico24: (89px, 0px, -89px, 0px, 75px, 54px, 337px, 287px, '../images/sprite.png', 'ico24', );
$ico25-name: 'ico25';
$ico25-x: 0px;
$ico25-y: 59px;
$ico25-offset-x: 0px;
$ico25-offset-y: -59px;
$ico25-width: 52px;
$ico25-height: 58px;
$ico25-total-width: 337px;
$ico25-total-height: 287px;
$ico25-image: '../images/sprite.png';
$ico25: (0px, 59px, 0px, -59px, 52px, 58px, 337px, 287px, '../images/sprite.png', 'ico25', );
$ico26-name: 'ico26';
$ico26-x: 0px;
$ico26-y: 0px;
$ico26-offset-x: 0px;
$ico26-offset-y: 0px;
$ico26-width: 84px;
$ico26-height: 54px;
$ico26-total-width: 337px;
$ico26-total-height: 287px;
$ico26-image: '../images/sprite.png';
$ico26: (0px, 0px, 0px, 0px, 84px, 54px, 337px, 287px, '../images/sprite.png', 'ico26', );
$ico27-name: 'ico27';
$ico27-x: 0px;
$ico27-y: 249px;
$ico27-offset-x: 0px;
$ico27-offset-y: -249px;
$ico27-width: 38px;
$ico27-height: 38px;
$ico27-total-width: 337px;
$ico27-total-height: 287px;
$ico27-image: '../images/sprite.png';
$ico27: (0px, 249px, 0px, -249px, 38px, 38px, 337px, 287px, '../images/sprite.png', 'ico27', );
$ico28-name: 'ico28';
$ico28-x: 273px;
$ico28-y: 183px;
$ico28-offset-x: -273px;
$ico28-offset-y: -183px;
$ico28-width: 29px;
$ico28-height: 38px;
$ico28-total-width: 337px;
$ico28-total-height: 287px;
$ico28-image: '../images/sprite.png';
$ico28: (273px, 183px, -273px, -183px, 29px, 38px, 337px, 287px, '../images/sprite.png', 'ico28', );
$ico29-name: 'ico29';
$ico29-x: 43px;
$ico29-y: 249px;
$ico29-offset-x: -43px;
$ico29-offset-y: -249px;
$ico29-width: 37px;
$ico29-height: 38px;
$ico29-total-width: 337px;
$ico29-total-height: 287px;
$ico29-image: '../images/sprite.png';
$ico29: (43px, 249px, -43px, -249px, 37px, 38px, 337px, 287px, '../images/sprite.png', 'ico29', );
$ico3-name: 'ico3';
$ico3-x: 140px;
$ico3-y: 158px;
$ico3-offset-x: -140px;
$ico3-offset-y: -158px;
$ico3-width: 73px;
$ico3-height: 21px;
$ico3-total-width: 337px;
$ico3-total-height: 287px;
$ico3-image: '../images/sprite.png';
$ico3: (140px, 158px, -140px, -158px, 73px, 21px, 337px, 287px, '../images/sprite.png', 'ico3', );
$ico4-name: 'ico4';
$ico4-x: 55px;
$ico4-y: 158px;
$ico4-offset-x: -55px;
$ico4-offset-y: -158px;
$ico4-width: 80px;
$ico4-height: 21px;
$ico4-total-width: 337px;
$ico4-total-height: 287px;
$ico4-image: '../images/sprite.png';
$ico4: (55px, 158px, -55px, -158px, 80px, 21px, 337px, 287px, '../images/sprite.png', 'ico4', );
$ico5-name: 'ico5';
$ico5-x: 222px;
$ico5-y: 92px;
$ico5-offset-x: -222px;
$ico5-offset-y: -92px;
$ico5-width: 42px;
$ico5-height: 42px;
$ico5-total-width: 337px;
$ico5-total-height: 287px;
$ico5-image: '../images/sprite.png';
$ico5: (222px, 92px, -222px, -92px, 42px, 42px, 337px, 287px, '../images/sprite.png', 'ico5', );
$ico6-name: 'ico6';
$ico6-x: 314px;
$ico6-y: 0px;
$ico6-offset-x: -314px;
$ico6-offset-y: 0px;
$ico6-width: 23px;
$ico6-height: 42px;
$ico6-total-width: 337px;
$ico6-total-height: 287px;
$ico6-image: '../images/sprite.png';
$ico6: (314px, 0px, -314px, 0px, 23px, 42px, 337px, 287px, '../images/sprite.png', 'ico6', );
$ico7-name: 'ico7';
$ico7-x: 314px;
$ico7-y: 47px;
$ico7-offset-x: -314px;
$ico7-offset-y: -47px;
$ico7-width: 23px;
$ico7-height: 41px;
$ico7-total-width: 337px;
$ico7-total-height: 287px;
$ico7-image: '../images/sprite.png';
$ico7: (314px, 47px, -314px, -47px, 23px, 41px, 337px, 287px, '../images/sprite.png', 'ico7', );
$ico8-name: 'ico8';
$ico8-x: 273px;
$ico8-y: 138px;
$ico8-offset-x: -273px;
$ico8-offset-y: -138px;
$ico8-width: 28px;
$ico8-height: 40px;
$ico8-total-width: 337px;
$ico8-total-height: 287px;
$ico8-image: '../images/sprite.png';
$ico8: (273px, 138px, -273px, -138px, 28px, 40px, 337px, 287px, '../images/sprite.png', 'ico8', );
$ico9-name: 'ico9';
$ico9-x: 222px;
$ico9-y: 46px;
$ico9-offset-x: -222px;
$ico9-offset-y: -46px;
$ico9-width: 46px;
$ico9-height: 41px;
$ico9-total-width: 337px;
$ico9-total-height: 287px;
$ico9-image: '../images/sprite.png';
$ico9: (222px, 46px, -222px, -46px, 46px, 41px, 337px, 287px, '../images/sprite.png', 'ico9', );
$spritesheet-width: 337px;
$spritesheet-height: 287px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($ico1, $ico10, $ico11, $ico12, $ico13, $ico14, $ico15, $ico16, $ico17, $ico18, $ico19, $ico2, $ico20, $ico21, $ico22, $ico23, $ico24, $ico25, $ico26, $ico27, $ico28, $ico29, $ico3, $ico4, $ico5, $ico6, $ico7, $ico8, $ico9, );
$spritesheet: (337px, 287px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
