
@import
	'_custom_bootstrap_vatiables.scss',
	'_custom_bootstrap_vatiables.scss',
	'../../bower_components/bootstrap/scss/_functions.scss',
	'../../bower_components/bootstrap/scss/_variables.scss',
	'../../bower_components/bootstrap/scss/_mixins.scss',
	'fonts',
	'sprite',
	'param',
	'footer',
	'header';
h1,h2{
	font-family: 'Akrobat_black';
}
h2{
	font-size: 42px;
	line-height: 46px;
	.styled_bg{
		&:before{
			top: -20px;
		}
	}
	@include media-breakpoint-down(md) { 
		font-size: 30px;
		line-height: 33px;
	}
}
.wrapper{
	overflow: hidden;
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
}
.btn-outline-light_orange{
	font-size: 20px;
	font-weight: bold;
	color: #000;
	&:hover{
		color: #fff;
	}
}
.container{
	width: 100%;
	max-width: 1170px;
}
.breadcrumbs_block{
	font-size: 20px;
	padding-top: 49px;
	padding-bottom: 29px;
	ul{
		a{
			color: #000;
			&:hover{
				color: #ffcd26;
				text-decoration: none;
			}
		}
		li{
			position: relative;
			padding-right: 70px;
			&:after{
				content: '';
				width: 50px;
				display: block;
				height: 1px;
				position: absolute;
				top: 50%;
				right: 5px;
				background: #585656;
			}
			&:last-child{
				&:after{
					content: none;
				}
				padding-right: 0;
			}
		}
	}
	@include media-breakpoint-down(md) {
		padding-top: 15px;
		padding-bottom: 5px;
		ul{
			li{
				padding-right: 30px;
				&:after{
					width: 10px;
				}
			}
		}
	}
}
.banner_title{
	position: relative;
	z-index: 2;
	background-size: cover !important;
	background-position: 50% 50% !important;
	min-height: 490px;

	h1{
		margin: 0;
		width: 100%;
		text-align: center;
		display: block;
		font-size: 56px;
		line-height: 58px;
		color: #fff;
		font-family: 'Akrobat_black';
		padding: 10px;
	}
	@include media-breakpoint-down(md) {
		min-height: 300px;
		h1{
			font-size: 40px;
			line-height: 48px;
		}
	}
	@include media-breakpoint-down(sm) {
		min-height: 200px;
		h1{
			font-size: 30px;
			line-height: 38px;
		}
	}
}
.styled_bg{
	position: relative;
	z-index: 1;
	&:before{
		content: '';
		position: absolute;
		z-index: -1;
		top: -34px;
		left: -10px; 
		width: 106px;
		height: 93px;
		background:url(../images/styled_bg.png) no-repeat;
	}
}
.about_us{
	padding-top: 144px;
	> .container{position: relative;z-index: 2;}
	p{
		margin: 0;
	}
	@include media-breakpoint-down(lg) {
		padding-top: 100px;
	}
	@include media-breakpoint-down(md) {
		padding-top: 50px;
	}
}
.pr-md_custom{
	@include media-breakpoint-up(md) { padding-right: 120px; }
	@include media-breakpoint-down(md) { padding-right: 20px; }
	@include media-breakpoint-down(sm) { padding-right: 0; }
}
.advantages_block{
	padding-top: 80px;
	> .container{position: relative;z-index: 2;}
	@include media-breakpoint-down(md) { 
		padding-top: 40px; 
	}
	h2{
		padding-bottom: 50px;
		// font-size: 42px;
		// line-height: 46px;
	}
	[class *= "col-"]{
		padding-bottom: 35px;
		p{
			color: #383331;
			padding-top: 10px;
			@include media-breakpoint-up(md) {
				max-width: 80%;
				margin: 0 auto;
			}
		}
		@include media-breakpoint-down(md) {
			img{
				max-width: 30%;
			}
		}
	}
	
}
.type_block{
	padding-top: 157px;
	@include media-breakpoint-down(md) {
		padding-top: 60px;
	}
	h2{
		margin: 0;
		// font-size: 42px;
		// line-height: 44px;
		padding-bottom: 90px;
	}
}
.styled_2{
	&:before{
		background:url(../images/styled_bg2.png) no-repeat;
		width: 215px;
		height: 188px;
		left: -123px;
		top: -80px !important;
	}
}
.box_item{
	border: 1px solid #ffc400;
	margin-bottom: 40px;
	padding: 55px 90px;
	background: #fff;
	position: relative;
	z-index: 10;
	@include media-breakpoint-down(md) {
		padding: 15px;
		margin-bottom: 15px;
	}
	h3{
		margin: 0;
		font-family: 'Akrobat_black';
		font-size: 35px;
		line-height: 40px;
		padding-bottom: 32px;
		color: #000;
		a{
			color: #000;
			&:hover{
				text-decoration: none;
				color: #ffcd26;
			}
		}
	}
	h4{
		margin: 35px 0 12px 0;
		color: #383331;
		font-size: 20px;
		line-height: 24px;
		font-weight: 700;
		text-transform: uppercase;
	}
	img{
		max-width: 100%;
		display: block;
		height: auto;
		margin: 0 auto;
	}
	@include media-breakpoint-down(md) {
		.box_item_prev {
			h3{
				font-size: 25px;
				line-height: 30px;
				padding-bottom: 15px;
			}

			img{
				max-width: 200px;
			}
		}
		h4{
			font-size: 15px;
			line-height: 20px;
			margin-top: 20px;
		}
		
	}
	@include media-breakpoint-down(sm) {
		.box_item_info{
			.item_data{
				margin: 15px auto 0;
				width: 100%;
				max-width: 300px;
			}
		}
	}
}
.tabs{
	margin: 0;
	padding: 0;
	list-style: none;
	&.tabs_sub{
		li{
			width: 25%;
			max-width: 25%;
			a{
				text-align: center;
				padding-left: 10px;
				padding-right: 10px;
				padding-top: 16px;
			}
		}
	}
	li{
		width: 50%;
		max-width: 50%;
		border: 1px solid #ffc400;
		&.active{
			a{
				background: #ffc400;
				color: #fff;
			}
		}
		a{
			display: block;
			height: 100%;
			color: #383331;
			padding: 13px 0 18px 34px;
			@include media-breakpoint-down(md) {
				padding-left: 15px;
			}
			strong{
				display: block;
				font-size: 20px;
				line-height: 22px;
				font-weight: 700;
				padding-bottom: 6px;
			}
			span{
				font-size: 18px;
				line-height: 20px;
			}
			&:hover{
				text-decoration: none;
				color: #fff;
				background: #ffc400;
			}
			@include media-breakpoint-down(sm) {
				strong{
					font-size: 16px;
					line-height: 18px;
				}
				span{
					font-size: 14px;
					line-height: 16px;
				}
			}
		}
	}
}
.item_data{
	border: 1px solid #ffc400;
	width: 50%;
	margin-top: 37px;
	text-align: center;
	
	span{
		font-size: 20px;
		line-height: 22px;
		font-weight: 700;
		padding: 3px;
	}
	.cost_data{
		padding: 17px 5px 19px 5px;
	}
	.btn-light_orange{
		padding-top: 12px;
		padding-bottom: 12px;
	}
}
.cost_old{
	text-decoration:line-through;
}
.btn-light_orange{
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	&:hover{
		background: #ffae00;
		border-color: #ffc400;
		color: #fff;
	}
}
.bg_add_left{
	position: relative;
	z-index: 1;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		right: 100%;
		height: 100%;
		width: 99999px;
		background: inherit;
		z-index: -1;
	}
}
.text_box{
	padding-bottom: 21px;
	p{
		margin: 0;
		font-size: 20px;
		line-height: 25px;
		strong{
			color: #fff;
			text-transform: uppercase;
			font-weight: 700;
		}
	}
	h3{
		margin: 0;
		text-transform: uppercase;
		font: 35px/40px 'Akrobat_black';
		padding-bottom: 10px;
	}
	@include media-breakpoint-down(md) {
		h3{
			font-size: 20px;
			line-height: 25px;
		}
	}
}
.useful_block{
	h2{
		margin: 0;
		padding-bottom: 50px;
	}
	> .container{
		padding-top: 83px;
		padding-bottom: 70px;
		background: rgba(#ffcd26,.7);
	}
	@include media-breakpoint-down(md) {
		h2{
			padding-bottom: 30px;
		}
		> .container {
			padding: 30px 15px;
		}
		
	}
}
.photo_gallery_block{
	padding-top: 146px;
	@include media-breakpoint-down(md){
		padding-top: 80px;
	}
	@include media-breakpoint-down(sm) {
		padding-top: 40px;
	}
}
.slider_photo{
	padding-top: 70px;
	.holder_img{
		+.holder_img{
			margin-top: 30px;
		}
	}
	@include media-breakpoint-down(md){
		padding-top: 80px;
	}
	@include media-breakpoint-down(sm) {
		padding-top: 40px;
		.owl-item {
			.row{margin: 0;}
			[class *= "col-"]{padding: 0;}
			.holder_img + .holder_img{margin: 0;}
			img{border: 1px solid #fff;}
		}
		.owl-nav {
			padding-top: 20px;
		}
	}
}
.owl-nav{
	text-align: center;
	padding-top: 40px;
	button{
		width: 55px;
		height: 55px;
		text-align: center;
		border: 1px solid #ffcd26 !important;
		color: #ccc7c7 !important;
		margin: 0 7px;
		outline: none;
		.fa{
			font-size: 30px;
		}
		&:hover{
			background: #ffae00 !important;
			border-color: #ffae00 !important;
			color: #fff !important;
		}
	}
}
.main{
	padding-bottom: 108px;
	overflow: hidden;
	@include media-breakpoint-down(md) {
		padding-bottom: 50px;
	}
}
.box_item--small{
	padding:50px 60px 60px;
	margin-bottom: 0;
	img{
		width: auto !important;
	}
	.item_data{
		width: 100%;
	}
	@include media-breakpoint-down(md) {
		padding: 15px;
		h3{
			font-size: 25px;
			line-height: 27px;
		}
		.item_data{
			width: 100%;
			max-width: 300px;
			margin: 15px auto 0;
		}
	}
}
.etc_product_block{
	padding-top: 100px;
	@include media-breakpoint-down(md) {
		padding-top: 50px;
	}
}
.slider_products{
	padding-top: 40px;
}
.owl-dots{
	text-align: center;
	padding-top: 30px;
	.owl-dot{
		width: 18px;
		height: 18px;
		border-radius: 50%;
		background: rgba(#ffc400 ,.6) !important;
		margin: 0 5px;
		outline: none;
		display: inline-block;
		vertical-align: middle; 
		&.active{
			background: #ffc400 !important;
			width: 21px;
			height: 21px;
		}
	}
}
// decoration index
.about_us {
	position: relative;
	&:after{
		content: '';
		width: 610px;
		height: 770px;
		position: absolute;
		right: 0;
		top: -150px;
		background:url("../images/bg1.png");
	}
}
.advantages_block {
	position: relative;
	&:after{
		content: '';
		width: 213px;
		height: 436px;
		position: absolute;
		left: 0;
		top: 50px;
		background:url("../images/bg2.png");
	}
}
.type_block{
	position: relative;
}
.bg_decoration{
	display: block;
	position: absolute;
}
.bg_3{
	width: 345px;
	height: 706px;
	right: 0;
	top: 600px;
	background:url("../images/bg3.png");
}
.bg_4{
	width: 190px;
	height: 260px;
	left: 0;
	top: 1000px;
	background:url("../images/bg4.png");
}
.bg_5{
	width: 213px;
	height: 344px;
	right: 0;
	top: 2000px;
	background:url("../images/bg5.png");
}
.useful_block {
	position: relative;
	&:before{
		content: '';
		width: 356px;
		height: 728px;
		position: absolute;
		left: 0;
		top: -363px;
		background:url("../images/bg6.png");
		// z-index: 10;
	}
	&:after{
		content: '';
		width: 733px;
		height: 770px;
		position: absolute;
		right: 0;
		top: 240px;
		background:url("../images/bg7.png");
		// z-index: 10;
	}
}
.photo_gallery_block {
	position: relative;
	&:before{
		content: '';
		width: 366px;
		height: 861px;
		position: absolute;
		left: 0;
		top: 300px;
		background:url("../images/bg8.png");
	}
}
.etc_product_block {
	position: relative;
	&:after{
		content: '';
		width: 146px;
		height: 300px;
		position: absolute;
		right: 0;
		top: -100px;
		background:url("../images/bg9.png");
	}
}
@include media-breakpoint-down(lg) {
	.bg_decoration{
		display: none;
	}
	.etc_product_block, .photo_gallery_block, .useful_block, .advantages_block, .about_us{
		&:after,&:before{content: none;}
	}
}